
@{
    ViewBag.Title = "Applicant_Dashboard";
    Layout = "~/Views/Shared/_LayoutApplicant.cshtml";
}

<body>
    <center>
        <br />
        <img src="~/images/jobhuntingillustration.png" class="img-fluid" />

        <form>
            <a href="@Url.Action("Applicant_JobSection","Applicant")">
                <button type="button" class="btn btn-primary btn-lg btn-block col-lg-5">Get Started</button>
            </a>
        </form>
    </center>
</body>

