
@{
    ViewBag.Title = "Employee_Dashboard";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<body>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="~/images/applyforleave.jpg" class="card-img-top" />
                    <a href="@Url.Action("Employee_ApplyLeave","Employee")" class="btn btn-primary btn-lg btn-block col-lg-5">Apply For Leave</a>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="~/images/attendcereport.jpg" class="card-img-top" />

                    <a href="@Url.Action("Employee_AttendceReport","Employee")" class="btn btn-primary btn-lg btn-block col-lg-5">Attendce Report</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="~/images/leaveapplication.jpg" class="card-img-top" />
                    <a href="@Url.Action("Employee_LeaveApplications","Employee")" class="btn btn-primary btn-lg btn-block col-lg-5">Leave Applications</a>
                </div>
            </div>
        </div>
    </div>
</body>

